:root {
  --text-color: #2c2a29;
  --text-color-2: #1f1f1f;
  --background-main: #f4f0ea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}
