:root {
  --text-color: #2c2a29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}
